* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    color: red;
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style: none;
}

.conteiner {
    text-align: center;
}

a {
    text-decoration: none;
}

body{
    height: 100vh;
    background: url(./pictures/pexels-allan-scott-mcmillan-1098012.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1 { 
    font-size: 60px;
}

h5 {
font-size: 30px;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: center;
}

.flex div {
    border: 1px solid #000;
    margin: 15px;
    flex-basis: 300px;
}

.flex img {
    max-width: 300px;
}

p {
    width: 100px;
}

.form {
    width: 40%;
    margin: 0 auto
}

.form input{
    width: 50%;
}
.form button {
    width: 15%;
}